body {
    font-family: 'Jost', sans-serif;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  height: 250px;
  object-fit: cover;
}

.card{
    border:1px solid #707;
    transition: all 0.4s;
}
.card:hover{
    border:1px solid #ddd;
}