{% extends "base.html" %}
{% load static %}
{% block title %}All Products - E-shop{% endblock  %}

{% block content %}
    {% include "includes/header.html" %}


    <div class="container mt-3">
        <div class="row">
            <!-- product list start -->
            <div class="col-md-10">
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4 mb-3">
                        <div class="card cards">

                            {% if product.image %}
                                <img style="height: 16rem;" src="{{ product.image.url }}" class="card-img-top" alt="product"
                                />
                            {% else %}
                                <img src="{% static 'images/default-product.png' %} class="card-img-top" alt="product"/>
                            {% endif %}
                            
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text truncate">{{ product.description }}</p>
                    
                                <div class="d-flex justify-content-between align-items-center my-3">
                                    <small class="card-text text-decoration-line-through">$ {{ product.price }}</small>
                                    <h4 class="card-text">$ {{ product.discount_price }}</h4>
                                </div>
                    
                                <div class="d-flex justify-content-between">
                                    <a href="#" class="btn btn-dark">View Details</a>
                                    <a href="#" class="btn btn-info text-white">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- product list end -->

            <!-- category list start -->
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">
                    Category
                    </li>
                    
                    {% for category in categories %}
                        <li class="list-group-item">{{ category.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <!-- category list end -->
        </div>
    </div>

{% endblock  %}